#map {
  height: 100vh;
  width: 100%;
}


.praia {
  margin-bottom: 10px;
  padding: 6px;
  border-bottom: 1px solid #6f3390;
}

.praia__titulo {
  font-size: 28px;
}

.praiar__desc {
  font-size: 16px;
}
